body {
	background:#000
}
#game-view {
	background:#000 url('../images/default-screen.png') no-repeat right top;
	width: 700px ;
	height: 550px;
  	margin-left: auto ;
  	margin-right: auto ;
  	padding-top:20px;
  	text-align:center;
}
/*
#game-view {
	background:#C8C8C8;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 700px ;
  	margin-left: auto ;
  	margin-right: auto ;
  	text-align:center;
}*/
