body {
	background:#000 url('../images/background.png') repeat;
}
/*#game-view {
	background:#000 url('../images/default-screen.png') no-repeat right top;
	width: 700px ;
	height: 550px;
  	margin-left: auto ;
  	margin-right: auto ;
  	padding-top:20px;
  	text-align:center;
}*/
#game-content {
	background:#B8B8B8;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 750px;
	height:630px;
  	margin-left: auto ;
  	margin-right: auto ;
  	text-align:center;
  	padding-top:30px;
}
#game-view {
	background:#FFF;
	width: 700px;
	height:500px;
  	margin-left: auto ;
  	margin-right: auto ;
  	text-align:center;
	border: solid;
}
#buttons {
	height: 20px;
	padding-top:5px;
	text-align:right;
	clear:both;
	width: 680px;
}

#info {
	background: #FFF;
	margin-left: 22px; 
	height: 90px;
	width: 700px;
	border-left: solid;
	border-right: solid;
	border-bottom: solid;

}

#game-info {
	height: 85px;
	width: 340px;
	float:left;
	text-align: center;
	margin: 0px;
	padding: 4px;
	
}

#world-state {
	height: 85px;
	width: 340px;
	float:right;
	text-align: center;
	margin: 0px;
	padding: 4px;
	border-left:solid;
}